/* CSS for general body components */

/* Heading for all sections */
.sectionHeading {
  display: flex;
  gap: 0.5rem;
  font-size: 2.5rem;
  text-align: center;
  color: var(--gold);
  background-color: var(--maroon);
  border: 5px solid var(--border-color);
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
  align-items: center;
  justify-content: center;
}

/* Blocks for sections */
.sectionBlock {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--fg-color);
  background-color: var(--white);
  border: 5px solid var(--border-color);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition:
    background 0.2s,
    transform 0.1s;
  flex-grow: 1;
}

/* Subheading for sections */
.sectionSubHeading {
  display: flex;
  gap: 0.5rem;
  text-align: center;
  color: var(--fg-color);
  background-color: var(--section-subheading);
  border: 3px solid var(--border-color);
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
  align-items: center;
  justify-content: center;
}

/* Section Block heading */
.sectionBlockHeading {
  display: flex;
  gap: 0.5rem;
  text-align: center;
  color: var(--fg-color);
  border: 3px solid var(--border-color);
  padding-left: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
  align-items: center;
  justify-content: center;
}

/* buttons */
.sectionButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: var(--fg-color);
  display: flex;
  background-color: var(--btn-color);
  padding: 0.5rem 0.5rem;
  border: 3px solid var(--btn-border);
  transition:
    background 0.2s,
    transform 0.1s;
  font-weight: 900;
  border-radius: 1rem;
  cursor: pointer;
}

/* hover for user Buttons */
.sectionButton:hover {
  background: var(--btn-hover);
}

/* buttons outside of section blocks */
.outerButton {
  display: flex;
  gap: 1rem;
  color: var(--fg-color);
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
  background-color: var(--gold);
  padding: 0.5rem 0.5rem;
  border: 3px solid var(--maroon);
  transition:
    background 0.2s,
    transform 0.1s;
  font-weight: 900;
  border-radius: 1rem;
  width: 100%;
  margin: 0.5rem 0rem;
  text-align: center;
  cursor: pointer;
}

/* hover for user Buttons */
.outerButton:hover {
  background: var(--maroon);
  color: var(--white);
}

/*TODO: remove these if not needed */

/******************\
* Eduction Section *
\******************/

.semesterGroup {
  display: flex;
  gap: 2rem;
  transition:
    background 0.2s,
    transform 0.1s;
}

.semester {
  gap: 2rem;
  flex: 1;
  transition:
    background 0.2s,
    transform 0.1s;
}

/******************\
*   Blogs Section  *
\******************/

/* Section for blog filters */
.blogFilters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  color: var(--fg-color);
  background-color: var(--section-subheading);
  border: 3px solid var(--border-color);
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
  align-items: center;
}

/* searchBarGroup */
.searchBarGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0 auto;
  transition:
    background 0.2s,
    transform 0.1s;
}

/* searchBar */
.searchBar {
  color: var(--maroon);
  background-color: var(--bg-color);
  font-size: 1.2rem;
  padding: 0.4rem 0.5rem;
  border: 3px solid var(--gold);
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
}

/* Tags */

/* tag */
.tag {
  text-align: center;
  justify-content: center;
  background: var(--nav-btn-color);
  color: var(--fg-color);
  border: 3px solid var(--border-color);
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
}

/* Active tags in filter */
.tagActive {
  text-align: center;
  background: var(--nav-selected);
  color: var(--fg-color);
  border: 3px solid var(--border-color);
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
}

.tagButton {
  text-align: center;
  justify-content: center;
  background: var(--nav-btn-color);
  color: var(--fg-color);
  border: 3px solid var(--border-color);
  padding: 0.2rem 0.4rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
  cursor: pointer;
}

.tagButton:hover {
  color: var(--fg-hover);
  background: var(--border-color);
}

.tagActive:hover {
  color: var(--fg-hover);
  background: var(--border-color);
}

/* Tag filter group */
.tagFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  transition:
    background 0.2s,
    transform 0.1s;
}

.tagAdder {
  align-items: center;
  display: flex;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  gap: 0.5rem;
  border: 3px solid var(--btn-border);
  cursor: pointer;
}

/* buttons */
.sectionButtonLeft {
  display: flex;
  color: var(--fg-color);
  background-color: var(--btn-color);
  padding: 0.2rem 0.5rem;
  border: 3px solid var(--btn-border);
  transition:
    background 0.2s,
    transform 0.1s;
  border-radius: 1rem;
  cursor: pointer;
}

/* hover for user Buttons */
.sectionButtonLeft:hover {
  background: var(--btn-hover);
}

/*searchHighlight */
.searchHighlight {
  background: var(--nav-selected);
  border-radius: 1rem;
}

/* Style for blog picture list div */
.blogPictures {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0.5rem 0.5rem;
  align-items: center;
}

/* Style for individual blog picture */
.blogPicture {
  background-color: var(--bg-color);
  border: 3px solid var(--border-color);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  max-height: 70vh;
  max-width: 100%;
}

/* add picture button for blogs */
.addPicture {
  min-width: 5rem;
  min-height: 5rem;
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--fg-color);
  background-color: var(--btn-color);
  border: 3px solid var(--btn-border);
  border-radius: 1.5rem;
  padding: 2rem, 2rem;
  transition:
    background 0.1s,
    transform 0.1s;
  cursor: pointer;
}

.addPicture:hover {
  background: var(--btn-hover);
}

.paragraphEditor {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.addButtons {
  display: flex;
  gap: 0.5rem;
}

.flexRow {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* buttons for blogs */
.delButton {
  color: var(--fg-color);
  background-color: var(--btn-color);
  transition:
    background 0.2s,
    transform 0.1s;
  font-weight: 900;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  position: absolute;
  top: 10px;
  right: 60px;
}

.delButton:hover {
  background-color: var(--btn-hover);
}

/* Skills */

.skillSet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.skillBlock {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--fg-color);
  background-color: var(--skill-color);
  border: 3px solid var(--border-color);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition:
    background 0.2s,
    transform 0.1s;
  flex-grow: 1;
  align-items: center;
}

@media (max-width: 1080px) {
  .sectionBody {
    font-size: 0.4rem;
    max-width: 1;
  }

  .sectionBlock {
    font-size: 1rem;
  }

  .skillSet {
    display: flex;
    flex-direction: column;
  }

  .semesterGroup {
    flex-direction: column;
  }

  .sectionHeading {
    font-size: 1.4rem;
  }

  .sectionSubHeading {
    font-size: 1.2rem;
  }
}
