/* CSS for general body components */

/* Heading for all sections */
.sectionHeading {
  display: flex;
  gap: 0.5rem;
  font-size: 2.5rem;
  text-align: center;
  color: var(--gold);
  background-color: var(--maroon);
  border: 5px solid var(--border-color);
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
  align-items: center;
  justify-content: center;
}

/* Blocks for sections */
.sectionBlock {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--fg-color);
  background-color: var(--white);
  border: 5px solid var(--border-color);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition:
    background 0.2s,
    transform 0.1s;
  flex-grow: 1;
}

/* Subheading for sections */
.sectionSubHeading {
  display: flex;
  gap: 0.5rem;
  text-align: center;
  color: var(--gold);
  background-color: var(--maroon);
  border: 3px solid var(--gold);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
  align-items: center;
  justify-content: center;
}

/* Section Block heading */
.sectionBlockHeading {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex: 1;
  font-size: 1.8rem;
  color: var(--maroon);
  border: 3px solid var(--border-color);
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
  justify-content: center;
}
/* Section Block heading */
.borderlessHeading {
  display: flex;
  gap: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  color: var(--maroon);
  margin-top: 0.5rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
  align-items: center;
  justify-content: center;
}

.flexOne {
  display: flex;
  width: 35%;
}

.flexRow {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.subtitleRow {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

/* buttons */
.sectionButton {
  display: flex;
  gap: 1rem;
  color: var(--fg-color);
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
  background-color: var(--gold);
  padding: 0.5rem 0.5rem;
  border: 3px solid var(--maroon);
  transition:
    background 0.2s,
    transform 0.1s;
  font-weight: 900;
  border-radius: 1rem;
  width: 50%;
  flex = 1
  margin: 0.5rem 0rem;
  text-align: center;
  cursor: pointer;
}

/* hover for user Buttons */
.sectionButton:hover {
  background: var(--maroon);
  color: var(--white);
}

/* buttons outside of section blocks */
.outerButton {
  display: flex;
  gap: 1rem;
  color: var(--fg-color);
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  align-items: center;
  background-color: var(--gold);
  padding: 0.5rem 0.5rem;
  border: 3px solid var(--maroon);
  transition:
    background 0.2s,
    transform 0.1s;
  font-weight: 900;
  border-radius: 1rem;
  width: 100%;
  margin: 0.5rem 0rem;
  text-align: center;
  cursor: pointer;
}

/* hover for user Buttons */
.outerButton:hover {
  background: var(--maroon);
  color: var(--white);
}

.userButton {
  color: var(--black);
  padding: 0.5rem 1.2rem;
  font-size: 1.3rem;
  background-color: var(--gold);
  border: 3px solid var(--maroon);
  transition:
    background 0.2s,
    transform 0.1s;
  font-weight: 900;
  border-radius: 1rem;
  cursor: pointer;
}

.maroonText {
  color:(--maroon);
  text-decoration: underline;
  cursor: pointer;
}

.userButton:hover {
  background: var(--maroon);
  color: var(--white);
}

/* Section Block heading */
.searchHeading {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.8rem;
  color: var(--maroon);
  border: 3px solid var(--border-color);
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
  justify-content: center;
}
/* searchBarGroup */
.searchBarGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  margin: 0 auto;
  transition:
    background 0.2s,
    transform 0.1s;
}

/* searchBar */
.searchBar {
  color: var(--maroon);
  width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  font-size: 1.4rem;
  padding: 0.6rem 0.5rem;
  border: 3px solid var(--gold);
  border-radius: 1rem;
  transition:
    background 0.2s,
    transform 0.1s;
}

/* buttons */
.sectionButtonLeft {
  display: flex;
  color: var(--fg-color);
  background-color: var(--btn-color);
  padding: 0.2rem 0.5rem;
  border: 3px solid var(--btn-border);
  transition:
    background 0.2s,
    transform 0.1s;
  border-radius: 1rem;
  cursor: pointer;
}

/* hover for user Buttons */
.sectionButtonLeft:hover {
  background: var(--btn-hover);
}

/*searchHighlight */
.searchHighlight {
  color: var(--gold);
  background: var(--maroon);
  border-radius: 1rem;
}

.ratingGroup {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  color: var(--maroon);
}

@media (max-width: 1080px) {
  .sectionBody {
    font-size: 0.4rem;
    max-width: 1;
  }

  .sectionBlock {
    font-size: 1rem;
  }

  .skillSet {
    display: flex;
    flex-direction: column;
  }

  .semesterGroup {
    flex-direction: column;
  }

  .sectionHeading {
    font-size: 1.4rem;
  }

  .sectionSubHeading {
    font-size: 1.2rem;
  }
}
