.header {
  color: var(--fg-color);
  background-color: var(--maroon);
  border: 5px solid var(--gold);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem 1rem;
  width: 100%;
  margin: 0 auto;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
}

.titleSizer {
  flex: 1;
}

.title {
  color: var(--gold);
  font-size: 4rem;
  font-family: "Fredoka One", sans-serif;
}

.bigNut {
  color: var(--gold);
  font-size: 5rem;
  font-family: "Fredoka One", sans-serif;
}

.subtitle {
  color: var(--white);
  font-size: 1.3rem;
  font-family: "Fredoka One", sans-serif;
}

.titleGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
}

.clsWhite {
  color: var(--white);
}

/********************
 *    Navigation    *
 *******************/

/* nav group */
.nav {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Shared button look for nav states */
.navButton,
.navSelected {
  color: var(--white);
  background-color: var(--nav-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.5rem 1rem;
  border: 4px solid var(--gold);
  border-radius: 1rem;
  font-weight: 900;
  transition:
    background 0.2s,
    transform 0.1s,
    color 0.2s;
  cursor: pointer;
}

.navGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navLink {
  color: var(--white);
  background-color: var(--maroon);
  text-decoration: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.3rem 0.5rem;
  border: 4px solid var(--gold);
  border-radius: 1rem;
  font-weight: 900;
  transition:
    background 0.2s,
    transform 0.1s,
    color 0.2s;
  cursor: pointer;
}

.loginLink {
  color: var(--white);
  background-color: var(--gold);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  padding: 0.3rem 0.5rem;
  border: 4px solid var(--gold);
  border-radius: 1rem;
  font-weight: 900;
  transition:
    background 0.2s,
    transform 0.1s,
    color 0.2s;
  cursor: pointer;
}

.loginLink:hover {
  background: var(--maroon);
}
.navLink:hover {
  background: var(--gold);
}

.navButton {
  background: var(--bg-color);
}

.navButton:hover {
  color: var(--fg-hover);
  background: var(--bg-color-color);
}

.navSelected {
  background: var(--nav-selected);
}

/********************
 *  Responsiveness  *
 *******************/

/* Hidden by default; shown on small screens */
.mobileHeader {
  display: none;
}

/* Small screens */
@media (max-width: 1080px) {
  .mobileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
  }

  .mobileTaskbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .mobileNavBlock {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 100%;
    color: var(--fg-color);
    background: var(--bg-color);
    border: 3px solid var(--border-color);
    border-radius: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    transition:
      background 0.2s,
      transform 0.1s;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .desktopHeader {
    display: none;
  }

  .nav {
    flex-direction: column;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }

  .navButton {
    font-weight: 200;
  }

  .profilePic {
    width: 4.5rem;
    height: 4.5rem;
  }

  .headerInfo {
    flex-direction: column;
    gap: 0.2rem;
    margin: 0 auto;
  }

  .infoCaption {
    font-size: 1.2rem;
  }

  .infoCaptionSub {
    font-size: 1rem;
  }

  .userArea {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .burger {
    color: var(--fg-color);
    background: var(--btn-color);
    border: 3px solid var(--btn-border);
    font-weight: 900;
    transition:
      background 0.2s,
      transform 0.1s;
    cursor: pointer;
    padding-top: 0.4rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
  }

  .burger:hover {
    background: var(--btn-hover);
  }
}

/* Larger screens */
@media (min-width: 1081px) {
  .desktopHeader {
    gap: 0 1.5rem;
  }

  .mobileHeader {
    display: none;
  }
}
