*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --bg-color: #09f; */
  --bg-color: rgba(255, 255, 255, 0.8);
  --fg-color: #000000;
  --fg-hover: #000000;
  --border-color: #93a923;
  --x-color: #c10f33;

  --btn-border: #880088;
  --btn-color: #00008f;
  --btn-hover: #990055;
  --nav-selected: #f00080;
  --nav-btn-color: #550055;
  --section-heading: rgba(100, 0, 100, 0.85);
  --section-subheading: rgba(25, 20, 80, 0.8);
  --skill-color: rgba(150, 00, 150, 0.5);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  line-height: var(--line-height);
  background-color: var(--color-bg);
}
