*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --maroon: #61223b;
  --gold: #b79962;
  --white: #ffffff;
  --border-color: #b79962;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Fredoka One", sans-serif;
  line-height: var(--line-height);
  background-color: var(--color-bg);
}
